@import "../../../assets/_variables.scss"; // variables to override above

.content {
    @include flex();
    flex          : 1 1 100%;
    padding       : 4rem .5rem .5rem .5rem;
    flex-direction: column;
}