$black: black;
$headerColor: rgba(255, 255, 255, 0.90);
$mainFontColor: #050505;

// переменные ширины
$width-100pr: 100%;

//---Disp Size ---//
$mobile-M: 350px; //моё виденье размеров такое :D
$mobile-L: 576px; //576px; моё виденье размеров такое :D
$tablet: 800px;
$laptop: 1024px;

//https://www.w3.org/Style/Examples/007/units.en.html
//>>But for font sizes it is even better to use em.
$_5px: 0.312rem; //10px 7.5pt
$_10px: 0.625rem; //10px 7.5pt
$_12px: 0.75rem; //12px 9pt
$_14px: 0.875rem; //14px 10.5pt
$_16px: 1rem; //16px 12pt
$_19px: 1.2rem; //19px 14pt
$_22px: 1.4rem; //22px 16pt
$_24px: 1.5rem; //24px 18pt
$_40px: 2.45rem; //40px

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

//-----Тени material desing-----//
$box-shadow-0: 0 2px 2px transparentize($black, .14),
    1px 2px 3px transparentize($black, .12);
$box-shadow-1: 0 2px 4px transparentize($black, .824),
    0 2px 3px transparentize($black, .822);
$box-shadow-2: 0 3px 6px transparentize($black, .36),
    0 3px 6px transparentize($black, .23);
$box-shadow-3: 0 16px 24px 2px transparentize($black, .14),
    0 6px 30px 5px transparentize($black, .12),
    0 8px 10px -5px transparentize($black, .20);
$box-shadow-0-inset: inset 0 2px 2px transparentize($black, .14),
    inset 1px 2px 3px transparentize($black, .12);
$box-shadow-1-inset: inset 0 2px 4px transparentize($black, .24),
    inset 0 2px 3px transparentize($black, .22);